@model IEnumerable<StandV_ti2.Models.Reparacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reparações</h1>

@if (User.IsInRole("Cliente"))
{
    <p>
        <a asp-action="Create">Criar Pedido de Reparação</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAvaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRepar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.FuncionariosEnvolvidosNaReparacao)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reparacao in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => reparacao.Veiculo.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reparacao.TipoAvaria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reparacao.DataRepar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reparacao.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reparacao.Estado)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @foreach (var func in reparacao.FuncionariosEnvolvidosNaReparacao)
                        {
                            <span>
                                @func.Nome - @func.Cargo <br />
                            </span>
                        }
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@reparacao.IdReparacao">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <span>
                            |
                            <a asp-action="Edit" asp-route-id="@reparacao.IdReparacao">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@reparacao.IdReparacao">Delete</a>
                        </span>     
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
